.header {
    background-color: #222;
    color: white;
    padding: 15px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

nav button {
    background-color: crimson;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
}

nav button:hover {
    background-color: darkred;
}

.badge {
    background-color: white;
    color: black;
    padding: 2px 4px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 600;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-container {
        background-color: #222222;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 69px;
        left: -20px;
        background: #222222;
        padding: 1rem;
        z-index: 1000;
        width: 100%;
        height: 100dvh;
        overflow: hidden;
    }

    .nav-links.open {
        display: flex;
    }
}
